body {
  margin: 0;
  background-color: #d53322;
  
}

.fondo1{
  background-color: #EF555C;
  margin-top: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 30px;
}

h2,
p {
  color: white;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: yellow;
}

a {
  font-weight: 500;
  color: purple;
  text-decoration: inherit;
}
a:hover {
  color: palevioletred;
}


